@use 'sass:color';
@use 'sass:string';

// Svelte Colors!
@use '@material/theme/index'as theme with ( // $primary: #fff,
    $primary: rgb(45, 66, 255),
    $secondary: #fff,
    $surface: #fff,
    $background: rgb(246 247 250),
    $error: rgb(226, 90, 90),
);

@use '@material/typography/typography'with ($font-family: string.unquote('Noto Sans KR, sans-serif'), );

html,
body {
    background-color: #f6f7fb;
    color: theme.$on-surface;
    font-family: 'Noto Sans KR',
        sans-serif;
    --bs-font-sans-serif: 'Noto Sans KR',
        sans-serif
}

a {
    color: #40b3ff;
}

a:visited {
    color: color.scale(#40b3ff, $lightness: -35%);
}