@use 'sass:color';
@use 'sass:string';

// Svelte Colors!
@use '@material/theme/index'as theme with ($primary: #212121,
    $secondary: #263238,
    $surface: #fff,
    $background: #fff,
    $error: rgb(226, 90, 90),
);

@use '@material/typography/typography'with ($font-family: string.unquote('Noto Sans KR, sans-serif'), );

html,
body {
    background-color: theme.$surface;
    color: theme.$on-surface;
    font-family: 'Noto Sans KR',
        sans-serif;
    --bs-font-sans-serif: 'Noto Sans KR',
        sans-serif
}

a {
    color: #40b3ff;
}

a:visited {
    color: color.scale(#40b3ff, $lightness: -35%);
}